# Maven
target/

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Logs
*.log

# Arquivos temporários
*.class

# Variáveis de ambiente
.env

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar

# Sistema Operacional
.DS_Store
Thumbs.db